# Import Library

In [14]:
from pyspark.sql  import SparkSession
import pandas as pd

In [ ]:

spark = SparkSession.builder().master("local[*]")
spark = SparkSession.builder() .master("local[*]")

In [83]:
spark = SparkSession.builder.getOrCreate()

# Import File

In [67]:
# Create temporary view  similar with tables 

spark.sql("""

CREATE TEMPORARY VIEW people
USING csv 
OPTIONS (
  path 'people.csv',
  header true
)

""")

DataFrame[]

In [ ]:
"""
for drop temporary exist 
spark.catalog.dropTempView("people")

"""

In [128]:
def query (query):
    return spark.sql(f"""
    {query}""").show()

# Describe the data

In [129]:
query("DESCRIBE people ")

+----------+---------+-------+
|  col_name|data_type|comment|
+----------+---------+-------+
|        id|   string|   null|
| firstName|   string|   null|
|middleName|   string|   null|
|  lastName|   string|   null|
|    gender|   string|   null|
| birthDate|   string|   null|
|       ssn|   string|   null|
|    salary|   string|   null|
+----------+---------+-------+

# Run Simple Query

In [82]:
query("""
SELECT firstName, middleName, lastName, birthdate
FROM people
WHERE year(birthdate) > 1960 AND gender = 'F'
ORDER BY 1
""")

+---------+----------+-----------+--------------------+
|firstName|middleName|   lastName|           birthdate|
+---------+----------+-----------+--------------------+
|  Adriana|   Tonisha|  Sallenger|1981-09-20T04:00:...|
|  Adriana|     Mabel|    Dhillon|1985-02-28T05:00:...|
|  Adriane|     Karla|  Tuminelli|1983-04-13T05:00:...|
|  Adriene|    Mariam|  Collimore|1966-07-23T04:00:...|
|   Ailene|    Leonor|      Yates|1984-02-08T05:00:...|
|   Albina|  Sanjuana|    Sigmund|1974-11-20T05:00:...|
|   Albina|     Irina| Scaplehorn|1989-04-19T04:00:...|
|   Aletha|    Chieko|   Ledekker|1966-02-11T05:00:...|
|   Aletha|     Justa|Pennrington|1963-03-30T05:00:...|
|   Aletha|    Slyvia|     Surmon|1991-06-16T04:00:...|
|     Alia|      Opal|     Havard|1994-01-21T05:00:...|
|     Alia|     Kasha|     Coller|1971-08-08T04:00:...|
|    Alice|    Ellena|    Entreis|1974-08-01T04:00:...|
|    Alpha|    Zandra|   Blamphin|1969-02-21T05:00:...|
|   Althea|     Casie|   Goncaves|1999-06-15T04:00:...|
|   Alvina|     Leann|   Franklen|1961-11-20T05:00:...|
|   Alyson|    Yadira|     Baudet|1991-04-05T05:00:...|
|     Amal|     Evita|    Barbosa|1978-01-11T05:00:...|
|     Amee|   Kirstin|     Tattam|1967-02-02T05:00:...|
|    Ammie|   Darleen|     Messer|1974-05-23T04:00:...|
+---------+----------+-----------+--------------------+
only showing top 20 rows

# More complex query

In [78]:
query("""
SELECT year(birthDate) as birthYear,  firstName, count (*) AS total
FROM people
WHERE (firstName = 'Aletha' OR firstName = 'Laila') AND gender = 'F'  
  AND year(birthDate) > 1960
GROUP BY birthYear, firstName
ORDER BY birthYear, firstName
""")

+---------+---------+-----+
|birthYear|firstName|total|
+---------+---------+-----+
|     1963|   Aletha|    1|
|     1964|    Laila|    1|
|     1965|    Laila|    1|
|     1966|   Aletha|    1|
|     1973|    Laila|    1|
|     1991|   Aletha|    1|
+---------+---------+-----+

# Using Temporary View

In [86]:
query (

"""
CREATE OR REPLACE TEMPORARY  VIEW WomenBornAfter1990 AS (
 SELECT firstName, middleName, lastName, year(birthDate) AS birthYear, salary 
  FROM people
  WHERE year(birthDate) > 1990 AND gender = 'F'
)

""")

++
||
++
++

## Create Temporay View

In [145]:
spark.sql(
"""
SELECT * FROM WomenBornAfter1990


"""
).show(20,False)

+---------+----------+-----------+---------+------+
|firstName|middleName|lastName   |birthYear|salary|
+---------+----------+-----------+---------+------+
|Hester   |Sherie    |Bonome     |1999     |81098 |
|Berniece |Shelley   |Cutler     |1999     |74981 |
|Vanessa  |Phuong    |Degoy      |1992     |94407 |
|Suellen  |Monique   |Sorrel     |1995     |67360 |
|Jolynn   |Yasmine   |Brolechan  |1996     |71750 |
|Andrea   |Crystle   |Perot      |1996     |60753 |
|Princess |Lanell    |Clibbery   |1991     |65339 |
|Nancey   |Letitia   |Bartolijn  |1991     |86795 |
|Ruthie   |Georgette |Magister   |1991     |70942 |
|Cleopatra|Krystyna  |Duny       |1998     |94797 |
|Cathrine |Shaniqua  |Burchmore  |1999     |64114 |
|Earlene  |Johnsie   |Varren     |1993     |60104 |
|Lisha    |Ilse      |Pealing    |1993     |56160 |
|Tiffiny  |Danyel    |Nusche     |1997     |63782 |
|Nicolette|Dodie     |Alyutin    |1997     |85867 |
|Wanda    |Lorene    |Thirtle    |1998     |100707|
|Tomasa   |Jovan     |Deny       |1998     |59807 |
|Leida    |Kiersten  |Filippone  |1992     |89399 |
|Bertha   |Mica      |Nolda      |1999     |52214 |
|Jeannette|Roberta   |Tomasicchio|1994     |69778 |
+---------+----------+-----------+---------+------+
only showing top 20 rows

# Find Average

In [146]:
spark.sql("""
     
SELECT round(avg(salary)) AS averageSalary
FROM people
""").show(100)

+-------------+
|averageSalary|
+-------------+
|      73410.0|
+-------------+

# Export ssa_names.csv

In [122]:
# Create temporary view  similar with tables 

spark.sql("""

CREATE OR REPLACE  TEMPORARY VIEW ssa_names
USING csv 
OPTIONS (
  path 'ssa_names.csv',
  header true
)

""")

DataFrame[]

In [124]:
spark.sql(
"""
SELECT * FROM  ssa_names
"""
).show(20)

+---------+------+-----+----+
|firstName|gender|total|year|
+---------+------+-----+----+
|Jennifer |F     |54336|1983|
|Jessica  |F     |45278|1983|
|Amanda   |F     |33752|1983|
|Ashley   |F     |33292|1983|
|Sarah    |F     |27228|1983|
|Melissa  |F     |23472|1983|
|Nicole   |F     |22392|1983|
|Stephanie|F     |22323|1983|
|Heather  |F     |20749|1983|
|Elizabeth|F     |19838|1983|
|Crystal  |F     |17904|1983|
|Amy      |F     |17095|1983|
|Michelle |F     |16828|1983|
|Tiffany  |F     |15960|1983|
|Kimberly |F     |15374|1983|
|Christina|F     |15359|1983|
|Amber    |F     |14886|1983|
|Erin     |F     |14835|1983|
|Rebecca  |F     |14711|1983|
|Rachel   |F     |14588|1983|
+---------+------+-----+----+
only showing top 20 rows

# Create  SSADistinctNames Temporary

In [112]:
query(
"""

CREATE OR REPLACE TEMPORARY VIEW SSADistinctNames AS 
  SELECT DISTINCT firstName AS ssaFirstName 
  FROM ssa_names;
"""
)

++
||
++
++

# Create  PeopleDistinctNames Temporary

In [114]:
query(
"""

CREATE OR REPLACE TEMPORARY VIEW PeopleDistinctNames AS 
  SELECT DISTINCT firstName 
  FROM people;
  
  
  

""")

++
||
++
++

# Join 2 Temporay View

In [159]:
spark.sql(
"""
 
  SELECT firstName 
FROM PeopleDistinctNames 
INNER JOIN SSADistinctNames ON firstName = ssaFirstName
""").show(20,False)

+---------+
|firstName|
+---------+
|Trina    |
|Shannon  |
|Shawn    |
|Carolyn  |
|Sue      |
|Grace    |
|Tiara    |
|Susana   |
|Cassondra|
|Lynsey   |
|Alison   |
|Robyn    |
|Andrea   |
|Shalonda |
|Adriana  |
|Tori     |
|Nadia    |
|Jacquelyn|
|Yadira   |
|Kristina |
+---------+
only showing top 20 rows

In [161]:
spark.sql("""

SELECT count(firstName) 
FROM PeopleDistinctNames
WHERE firstName IN (
  SELECT ssaFirstName FROM SSADistinctNames
)
""").show()

+----------------+
|count(firstName)|
+----------------+
|             209|
+----------------+

# Import json file

In [163]:
# Create temporary view  similar with tables 

spark.sql("""

CREATE OR REPLACE  TEMPORARY VIEW databricks_blog
USING json 
OPTIONS (
  path 'databricks-blog.json',
  header true
)

""")

DataFrame[]

# Describe  json file

In [164]:
spark.sql("""
DESCRIBE databricks_blog
""").show()

+-----------+--------------------+-------+
|   col_name|           data_type|comment|
+-----------+--------------------+-------+
|    authors|       array<string>|   null|
| categories|       array<string>|   null|
|    content|              string|   null|
|    creator|              string|   null|
|      dates|struct<createdOn:...|   null|
|description|              string|   null|
|         id|              bigint|   null|
|       link|              string|   null|
|       slug|              string|   null|
|     status|              string|   null|
|      title|              string|   null|
+-----------+--------------------+-------+

# Dot Notation in Spark SQL

In [182]:
spark.sql("""
SELECT title, 
       CAST(dates.publishedOn AS timestamp) AS publishedOn 
FROM databricks_blog
""").show( truncate=False )

+------------------------------------------------------------------------------------+-------------------+
|title                                                                               |publishedOn        |
+------------------------------------------------------------------------------------+-------------------+
|MapR Integrates the Complete Apache Spark Stack                                     |2014-04-10 00:00:00|
|Apache Spark 0.9.1 Released                                                         |2014-04-10 00:00:00|
|Application Spotlight: Alpine Data Labs                                             |2014-04-01 00:00:00|
|Spark SQL: Manipulating Structured Data Using Apache Spark                          |2014-03-27 00:00:00|
|Apache Spark 0.9.0 Released                                                         |2014-02-04 00:00:00|
|Apache Spark In MapReduce (SIMR)                                                    |2014-01-02 00:00:00|
|Sharethrough Uses Apache Spark Streaming to Optimize Bidding in Real Time           |2014-03-26 00:00:00|
|Apache Spark: A Delight for Developers                                              |2014-03-21 00:00:00|
|Databricks announces "Certified on Apache Spark" Program                            |2014-03-19 00:00:00|
|Apache Spark Now a Top-level Apache Project                                         |2014-03-03 00:00:00|
|AMPLab updates the Big Data Benchmark                                               |2014-02-13 00:00:00|
|Databricks at the O'Reilly Strata Conference 2014                                   |2014-02-11 00:00:00|
|Apache Spark and Hadoop: Working Together                                           |2014-01-22 00:00:00|
|Apache Spark 0.8.1 Released                                                         |2013-12-20 00:00:00|
|Highlights From Spark Summit 2013                                                   |2013-12-19 00:00:00|
|Putting Apache Spark to Use: Fast In-Memory Computing for Your Big Data Applications|2013-11-22 00:00:00|
|Databricks and Cloudera Partner to Support Apache Spark                             |2013-10-29 00:00:00|
|The Growing Apache Spark Community                                                  |2013-10-28 00:00:00|
|Databricks and the Apache Spark Platform                                            |2013-10-27 00:00:00|
|Databricks and MapR                                                                 |2014-04-11 00:00:00|
+------------------------------------------------------------------------------------+-------------------+
only showing top 20 rows

# Filter Function with Horizontal View

In [179]:
spark.sql("""
SELECT authors , categories,
TRANSFORM (categories, category  -> LOWER(category)) AS lwr_categories
FROM  databricks_blog
""").show(5, truncate=False, vertical=True)

-RECORD 0------------------------------------------------------------
 authors        | [Tomer Shiran (VP of Product Management at MapR)]
 categories     | [Company Blog, Partners]
 lwr_categories | [company blog, partners]
-RECORD 1------------------------------------------------------------
 authors        | [Tathagata Das]
 categories     | [Apache Spark, Engineering Blog, Machine Learning]
 lwr_categories | [apache spark, engineering blog, machine learning]
-RECORD 2------------------------------------------------------------
 authors        | [Steven Hillion]
 categories     | [Company Blog, Partners]
 lwr_categories | [company blog, partners]
-RECORD 3------------------------------------------------------------
 authors        | [Michael Armbrust, Reynold Xin]
 categories     | [Apache Spark, Engineering Blog]
 lwr_categories | [apache spark, engineering blog]
-RECORD 4------------------------------------------------------------
 authors        | [Patrick Wendell]
 categories     | [Apache Spark, Engineering Blog]
 lwr_categories | [apache spark, engineering blog]
only showing top 5 rows

# Filter Function with Vertical View

In [184]:
spark.sql("""
SELECT title,
  FILTER (categories, category -> category = "Apache Spark") filtered
FROM databricks_blog
wher
""").show( truncate=False)

+------------------------------------------------------------------------------------+--------------+
|title                                                                               |filtered      |
+------------------------------------------------------------------------------------+--------------+
|MapR Integrates the Complete Apache Spark Stack                                     |[]            |
|Apache Spark 0.9.1 Released                                                         |[Apache Spark]|
|Application Spotlight: Alpine Data Labs                                             |[]            |
|Spark SQL: Manipulating Structured Data Using Apache Spark                          |[Apache Spark]|
|Apache Spark 0.9.0 Released                                                         |[Apache Spark]|
|Apache Spark In MapReduce (SIMR)                                                    |[Apache Spark]|
|Sharethrough Uses Apache Spark Streaming to Optimize Bidding in Real Time           |[]            |
|Apache Spark: A Delight for Developers                                              |[Apache Spark]|
|Databricks announces "Certified on Apache Spark" Program                            |[]            |
|Apache Spark Now a Top-level Apache Project                                         |[Apache Spark]|
|AMPLab updates the Big Data Benchmark                                               |[Apache Spark]|
|Databricks at the O'Reilly Strata Conference 2014                                   |[]            |
|Apache Spark and Hadoop: Working Together                                           |[Apache Spark]|
|Apache Spark 0.8.1 Released                                                         |[Apache Spark]|
|Highlights From Spark Summit 2013                                                   |[]            |
|Putting Apache Spark to Use: Fast In-Memory Computing for Your Big Data Applications|[Apache Spark]|
|Databricks and Cloudera Partner to Support Apache Spark                             |[]            |
|The Growing Apache Spark Community                                                  |[]            |
|Databricks and the Apache Spark Platform                                            |[]            |
|Databricks and MapR                                                                 |[]            |
+------------------------------------------------------------------------------------+--------------+
only showing top 20 rows

In [187]:
spark.sql("""
SELECT title,
  FILTER (categories, category -> category = "Apache Spark") filtered
FROM databricks_blog

""").show( truncate=False)

+------------------------------------------------------------------------------------+--------------+
|title                                                                               |filtered      |
+------------------------------------------------------------------------------------+--------------+
|MapR Integrates the Complete Apache Spark Stack                                     |[]            |
|Apache Spark 0.9.1 Released                                                         |[Apache Spark]|
|Application Spotlight: Alpine Data Labs                                             |[]            |
|Spark SQL: Manipulating Structured Data Using Apache Spark                          |[Apache Spark]|
|Apache Spark 0.9.0 Released                                                         |[Apache Spark]|
|Apache Spark In MapReduce (SIMR)                                                    |[Apache Spark]|
|Sharethrough Uses Apache Spark Streaming to Optimize Bidding in Real Time           |[]            |
|Apache Spark: A Delight for Developers                                              |[Apache Spark]|
|Databricks announces "Certified on Apache Spark" Program                            |[]            |
|Apache Spark Now a Top-level Apache Project                                         |[Apache Spark]|
|AMPLab updates the Big Data Benchmark                                               |[Apache Spark]|
|Databricks at the O'Reilly Strata Conference 2014                                   |[]            |
|Apache Spark and Hadoop: Working Together                                           |[Apache Spark]|
|Apache Spark 0.8.1 Released                                                         |[Apache Spark]|
|Highlights From Spark Summit 2013                                                   |[]            |
|Putting Apache Spark to Use: Fast In-Memory Computing for Your Big Data Applications|[Apache Spark]|
|Databricks and Cloudera Partner to Support Apache Spark                             |[]            |
|The Growing Apache Spark Community                                                  |[]            |
|Databricks and the Apache Spark Platform                                            |[]            |
|Databricks and MapR                                                                 |[]            |
+------------------------------------------------------------------------------------+--------------+
only showing top 20 rows

# Exist Function with Vertical View

In [196]:
spark.sql("""
SELECT title,
  EXISTS (authors, author -> author = "Reynold Xin" OR  author = "Ion Stoica") selected
FROM databricks_blog
""").show( truncate=False)

+------------------------------------------------------------------------------------+--------+
|title                                                                               |selected|
+------------------------------------------------------------------------------------+--------+
|MapR Integrates the Complete Apache Spark Stack                                     |false   |
|Apache Spark 0.9.1 Released                                                         |false   |
|Application Spotlight: Alpine Data Labs                                             |false   |
|Spark SQL: Manipulating Structured Data Using Apache Spark                          |true    |
|Apache Spark 0.9.0 Released                                                         |false   |
|Apache Spark In MapReduce (SIMR)                                                    |false   |
|Sharethrough Uses Apache Spark Streaming to Optimize Bidding in Real Time           |false   |
|Apache Spark: A Delight for Developers                                              |false   |
|Databricks announces "Certified on Apache Spark" Program                            |false   |
|Apache Spark Now a Top-level Apache Project                                         |true    |
|AMPLab updates the Big Data Benchmark                                               |true    |
|Databricks at the O'Reilly Strata Conference 2014                                   |false   |
|Apache Spark and Hadoop: Working Together                                           |true    |
|Apache Spark 0.8.1 Released                                                         |false   |
|Highlights From Spark Summit 2013                                                   |false   |
|Putting Apache Spark to Use: Fast In-Memory Computing for Your Big Data Applications|false   |
|Databricks and Cloudera Partner to Support Apache Spark                             |true    |
|The Growing Apache Spark Community                                                  |false   |
|Databricks and the Apache Spark Platform                                            |true    |
|Databricks and MapR                                                                 |false   |
+------------------------------------------------------------------------------------+--------+
only showing top 20 rows